<script src="../../../sw.js"></script>
<div>
    <h2>Copyusers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="copyuser.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new Copyuser
                    </span>
                </button>
            </div>
            <h1> length is {{vm.len}} copyuser is {{vm.tmp}}</h1>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Avater</span></th>
                    <th><span>User</span></th>
                    <th><span>Course</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>



                    <td><a ui-sref="copyuser-detail({id:copyuser.id})">{{vm.copyuser.id}}</a></td>
                    <td>
                        <a ng-if="vm.copyuser.avater" ng-click="vm.openFile(vm.copyuser.avaterContentType, vm.copyuser.avater)">
                            <img data-ng-src="{{'data:' + vm.copyuser.avaterContentType + ';base64,' + vm.copyuser.avater}}" style="max-height: 30px;" alt="copyuser image"/>
                        </a>
                        <span ng-if="vm.copyuser.avater">{{vm.copyuser.avaterContentType}}, {{vm.byteSize(vm.copyuser.avater)}}</span>
                    </td>
                    <td>
                        {{vm.copyuser.user.login}}
                    </td>
                    <td>
                        <span ng-repeat="course in vm.copyuser.courses">
                            <a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="copyuser-detail({id:vm.copyuser.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="copyuser.edit({id:vm.copyuser.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="copyuser.delete({id:vm.copyuser.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>

<!--
               <tr ng-repeat="copyuser in vm.copyusers track by copyuser.id">

            <td><a ui-sref="copyuser-detail({id:copyuser.id})">{{copyuser.id}}</a></td>
            <td>
                <a ng-if="vm.copyuser.avater" ng-click="vm.openFile(vm.copyuser.avaterContentType, vm.copyuser.avater)">
                    <img data-ng-src="{{'data:' + vm.copyuser.avaterContentType + ';base64,' + vm.copyuser.avater}}" style="max-height: 30px;" alt="copyuser image"/>
                </a>
                <span ng-if="vm.copyuser.avater">{{vm.copyuser.avaterContentType}}, {{vm.byteSize(vm.copyuser.avater)}}</span>
            </td>
            <td>
                {{copyuser.user.login}}
            </td>
            <td>
                        <span ng-repeat="course in copyuser.courses">
                            <a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.id}}</a>{{$last ? '' : ', '}}
                        </span>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="copyuser-detail({id:copyuser.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-sm-down"></span>
                    </button>
                    <button type="submit"
                            ui-sref="copyuser.edit({id:copyuser.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down"></span>
                    </button>
                    <button type="submit"
                            ui-sref="copyuser.delete({id:copyuser.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm-down"></span>
                    </button>
                </div>
            </td>

                </tr>
                -->

            </tbody>
        </table>
    </div>
<h1> The courses I take</h1>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Name</span></th>
                <th><span>Price</span></th>
                <th><span>Description</span></th>
                <th><span>Rating</span></th>
                <th><span>District</span></th>
                <th><span>Category</span></th>
                <th><span>Teacher</span></th>
                <th></th>
            </tr>
                <td>{{course.description}}</td>
            </thead>
            <tbody>
            <tr ng-repeat="course in vm.copyuser.courses track by course.id">
                <td><a ui-sref="course-detail({id:course.id})">{{course.id}}</a></td>
                <td>{{course.name}}</td>
                <td>{{course.price}}</td>
                <td>{{course.rating}}</td>
                <td>{{course.district}}</td>
                <td>{{course.category}}</td>
                <td>
                    {{course.teacher.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="course-detail({id:course.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="course.edit({id:course.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="course.delete({id:course.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Name</span></th>
                <th><span>Price</span></th>
                <th><span>Description</span></th>
                <th><span>Rating</span></th>
                <th><span>District</span></th>
                <th><span>Category</span></th>
                <th><span>Teacher</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in vm.courses track by course.id">
                <td><a ui-sref="course-detail({id:course.id})">{{course.id}}</a></td>
                <td>{{course.name}}</td>
                <td>{{course.price}}</td>
                <td>{{course.description}}</td>
                <td>{{course.rating}}</td>
                <td>{{course.district}}</td>
                <td>{{course.category}}</td>
                <td>
                    {{course.teacher.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="course-detail({id:course.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="course.edit({id:course.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="course.delete({id:course.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
