<script src="../../../sw.js"></script>
<div>
    <h2>Your Profile</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="copyuser.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Add your avatar
                    </span>
                </button>
            </div>

            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Add your course
                    </span>
                </button>
            </div>
            <!--
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            -->
        </div>
    </div>
    <br/>
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th><span>ID</span></th>-->
                    <!--<th><span>Avater</span></th>-->
                    <!--<th><span>User</span></th>-->
                    <!--<th><span>Course</span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->



                    <!--<td><a ui-sref="copyuser-detail({id:copyuser.id})">{{vm.copyuser.id}}</a></td>-->
                    <!--<td>-->
                        <!--<a ng-if="vm.copyuser.avater" ng-click="vm.openFile(vm.copyuser.avaterContentType, vm.copyuser.avater)">-->
                            <!--<img data-ng-src="{{'data:' + vm.copyuser.avaterContentType + ';base64,' + vm.copyuser.avater}}" style="max-height: 30px;" alt="copyuser image"/>-->
                        <!--</a>-->
                        <!--<span ng-if="vm.copyuser.avater">{{vm.copyuser.avaterContentType}}, {{vm.byteSize(vm.copyuser.avater)}}</span>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{vm.copyuser.user.login}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<span ng-repeat="course in vm.copyuser.courses">-->
                            <!--<a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.id}}</a>{{$last ? '' : ', '}}-->
                        <!--</span>-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="copyuser-detail({id:vm.copyuser.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="copyuser.edit({id:vm.copyuser.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="copyuser.delete({id:vm.copyuser.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->

    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row panel">
            <div class="col-md-8 col-xs-12" style="width:100%" >
                <img data-ng-src="{{'data:' + vm.copyuser.avaterContentType + ';base64,' + vm.copyuser.avater}}" style="width:20%;float:left;" alt="copyuser image"/>
                <div class="header" style="margin-left:100px;color : #808080; width:70%;float:left;">
                    <h1>{{vm.copyuser.user.login}}</h1>
                    <!--<h4>Web Developer</h4>-->
                    <h4>
                        <span>course learned by me:</span>
                        <span ng-repeat="course in vm.copyuser.courses">
                            <a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.id}}</a>{{$last ? '' : ', '}}
                        </span>
                        <br>
                    </h4>
                    <h4>
                        <span>course taught by me:</span>
                        <span ng-repeat="course in vm.courses">
                            <a class="form-control-static" ui-sref="course-detail({id: course.id})">{{course.name}}</a>{{$last ? '' : ', '}}
                        </span>
                        <br>
                    </h4>


                    <!--<span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."-->
<!--"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."-->
                    <!--</span>-->
                </div>
            </div>
        </div>
    </div>


<h1> I learn these courses</h1>
    <div class="container" style="margin-top:10px;">
        <div ng-repeat="course in vm.copyuser.courses | filter: vm.filttext track by course.id">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <a ui-sref="course-detail-readOnly({id:course.id})">
                            <img data-ng-src="{{'data:' + course.picture[0].imageContentType + ';base64,' + course.picture[0].image}}"  class="panel-image-preview"alt="pic image"/>
                        </a>
                    </div>
                    <div class="panel-body">
                        <h4>{{course.name}}</h4>
                        <p>{{course.description}}</p>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                        <a href="#facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th><span>ID</span></th>-->
                <!--<th><span>Name</span></th>-->
                <!--<th><span>Price</span></th>-->
                <!--<th><span>Description</span></th>-->
                <!--<th><span>Rating</span></th>-->
                <!--<th><span>District</span></th>-->
                <!--<th><span>Category</span></th>-->
                <!--<th><span>Teacher</span></th>-->
                <!--<th></th>-->
            <!--</tr>-->
                <!--<td>{{course.description}}</td>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="course in vm.copyuser.courses track by course.id">-->
                <!--<td><a ui-sref="course-detail({id:course.id})">{{course.id}}</a></td>-->
                <!--<td>{{course.name}}</td>-->
                <!--<td>{{course.price}}</td>-->
                <!--<td>{{course.rating}}</td>-->
                <!--<td>{{course.district}}</td>-->
                <!--<td>{{course.category}}</td>-->
                <!--<td>-->
                    <!--{{course.teacher.login}}-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="course-detail({id:course.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="course.edit({id:course.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="copyuser.removec({id:vm.copyuser.id,cid:course.id})"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="comment.newuc({id:vm.copyuser.id, cid:course.id})"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<h1>I teach these courses</h1>
    <div class="container" style="margin-top:10px;">
        <div ng-repeat="course in vm.courses | filter: vm.filttext track by course.id">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <a ui-sref="course-detail-readOnly({id:course.id})">
                            <img data-ng-src="{{'data:' + course.picture[0].imageContentType + ';base64,' + course.picture[0].image}}"  class="panel-image-preview"alt="pic image"/>
                        </a>
                    </div>
                    <div class="panel-body">
                        <h4>{{course.name}}</h4>
                        <p>{{course.description}}</p>
                    </div>
                    <div class="panel-footer text-center">
                        <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                        <a href="#facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th><span>ID</span></th>-->
                <!--<th><span>Name</span></th>-->
                <!--<th><span>Price</span></th>-->
                <!--<th><span>Description</span></th>-->
                <!--<th><span>Rating</span></th>-->
                <!--<th><span>District</span></th>-->
                <!--<th><span>Category</span></th>-->
                <!--<th><span>Teacher</span></th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="course in vm.courses track by course.id">-->
                <!--<td><a ui-sref="course-detail({id:course.id})">{{course.id}}</a></td>-->
                <!--<td>{{course.name}}</td>-->
                <!--<td>{{course.price}}</td>-->
                <!--<td>{{course.description}}</td>-->
                <!--<td>{{course.rating}}</td>-->
                <!--<td>{{course.district}}</td>-->
                <!--<td>{{course.category}}</td>-->
                <!--<td>-->
                    <!--{{course.teacher.login}}-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--ui-sref="course-detail({id:course.id})"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="course.edit({id:course.id})"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--ui-sref="course.delete({id:course.id})"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                            <!--<span class="hidden-sm-down"></span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Rating</span></th>
                <th><span>Review</span></th>
                <th><span>Writter</span></th>
                <th><span>Targetcourse</span></th>
                <th><span>Parent</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comment in vm.cucomment track by comment.id">
                <td><a ui-sref="comment-detail({id:comment.id})">{{comment.id}}</a></td>
                <td>{{comment.rating}}</td>
                <td>{{comment.review}}</td>
                <td>
                    <a ui-sref="copyuser-detail({id:comment.writter.id})">{{comment.writter.id}}</a>
                </td>
                <td>
                    <a ui-sref="course-detail({id:comment.targetcourse.id})">{{comment.targetcourse.id}}</a>
                </td>
                <td>
                    <a ui-sref="comment-detail({id:comment.parent.id})">{{comment.parent.id}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="comment-detail({id:comment.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="comment.edit({id:comment.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="comment.delete({id:comment.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down"></span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">

    <hgroup class="mb20">
        <h1>Search Results</h1>
        <h2 class="lead"><strong class="text-danger">3</strong> results were found for the search for <strong class="text-danger">Lorem</strong></h2>
    </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>
                    <li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
                    <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
            </div>
            <span class="clearfix borda"></span>
        </article>

        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/food" alt="Lorem ipsum" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>02/13/2014</span></li>
                    <li><i class="glyphicon glyphicon-time"></i> <span>8:32 pm</span></li>
                    <li><i class="glyphicon glyphicon-tags"></i> <span>Food</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
            </div>
            <span class="clearfix borda"></span>
        </article>

        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="Lorem ipsum" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>01/11/2014</span></li>
                    <li><i class="glyphicon glyphicon-time"></i> <span>10:13 am</span></li>
                    <li><i class="glyphicon glyphicon-tags"></i> <span>Sport</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
            </div>
            <span class="clearfix border"></span>
        </article>

    </section>
</div>
