<div ng-cloak>
    <div class="jumbotron">
       <h1>Tutorhub</h1>
          <p style="padding:40px;"></p>
          <p>Tutorhub builds bridge between tutorial provider and people who want to learn skills. Skill providers earn money by providing tutorials of their skills. People can search on our website to find the skill they want to learn and the level of skill providers they want. </p>
    </div>
    <div class="jumbotron1">
        <div class = "jumbotron1-1">
            <div class = "col-md-4 jumbotron1-1-image">
                <p>this is a pic</p>
            </div>
            <div class="col-md-8 jumbotron1-1-text">
                <p>Ask question and share experiences</p>
            </div>
        </div>
    </div>
    <div class="home-course">
        <div class="col-6 col-md-4">
            <a ng-if="vm.tmp.picture[0].image" ng-click="vm.openFile(vm.tmp.picture[0].imageContentType, vm.tmp.picture[0].image)">
                <img data-ng-src="{{'data:' + vm.tmp.picture[0].imageContentType + ';base64,' + vm.tmp.picture[0].image}}" style="max-height: 30px;" alt="pic image"/>
            </a>
                <h4>course name, {{vm.tmp.picture.length}}</h4>
            </a>
            <p>description</p>
        </div>
        <div class="col-6 col-md-4">
            <a href="">
                <img class=""/>
                <h4>course name</h4>
            </a>
            <p>description</p>
        </div>
        <div class="col-6 col-md-4">
            <a href="">
                <img class=""/>
                <h4>course name</h4>
            </a>
            <p>description</p>
        </div>
        <div class="col-6 col-md-4">
            <a href="">
                <img class=""/>
                <h4>course name</h4>
            </a>
            <p>description</p>
        </div>
    </div>

        <!--
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>

        <div class="col-md-8">
            <h1>Welcome, Java Hipster!</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p>
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
            </p>
        </div>
        -->

</div>
